emoji==2.14.0 ; python_version >= "3.11" and python_version < "3.12"
memory-profiler==0.61.0 ; python_version >= "3.11" and python_version < "3.12"
polars==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
psutil==6.0.0 ; python_version >= "3.11" and python_version < "3.12"
